BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/vpnbot
REDIS_URL=redis://redis:6379/0
ENV_ADMIN_IDS=
SECRET_KEY=change-me-to-a-long-random-string
SUPPORT_USERNAME=kasrazandi
LOG_LEVEL=INFO
